/* ==========  Third party  ========== */
@import "reseter.css/css/reseter.min";

/* ==========  Global  ========== */
html,
body {
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
}

body {
  background: linear-gradient(
    113.59deg,
    rgba(239, 239, 239, 0) -2.01%,
    rgba(202, 202, 202, 0.2) 103.74%
  );
  
  margin-top: 180px;
  position: relative;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  @media (max-width: 850px) {
    line-height: 1.3;
    margin-top: 140px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-link);
  &:hover,
  &:focus,
  &:active {
    color: var(--color-link);
  }
}

b,
strong {
  font-weight: var(--font-bold);
}

img,
svg,
picture {
  max-width: 100%;
}

svg:not([class]) {
  display: inline;
  height: 1em;
}

blockquote {
  display: block;
  width: 100%;
  margin: 0 0 1em 0;
  &:last-child {
    margin-bottom: 0;
  }
  padding: 0.5em 0 0.5em 1.5em;
  font-style: italic;
  border-left: var(--border-2) var(--color-text-muted);
}

ul,
ol {
  margin: 0 0 1em 0;
  &:last-child {
    margin-bottom: 0;
  }
  padding-left: 1.4em;
  li::marker {
    color: var(--color-text-muted);
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 1em 0;
  &:last-child {
    margin-bottom: 0;
  }
  text-align: left;
  th,
  td {
    padding: 0.75em;
  }
  th {
    font-weight: var(--font-bold);
    color: var(--color-heading);
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

figure {
  margin: 0 0 1em 0;
  &:last-child {
    margin-bottom: 0;
  }
}

iframe {
  display: block;
  width: 100%;
  margin: 0 0 1em 0;
  &:last-child {
    margin-bottom: 0;
  }
  border: none;
  box-shadow: none;
}

hr {
  display: block;
  width: 100%;
  margin: 1em 0;
}

::placeholder {
  color: var(--color-text-muted);
}

/* ==========  Custom  ========== */
.container {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;

  @media screen and (min-width: 1200px) {
    padding: 0 135px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0px 100px;
  }
  @media screen and (max-width: 767px) {
    padding: 0px 80px;
  }
   @media screen and (max-width: 576px) {
    padding: 0px 50px;
  }
}


.topBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  width: 55px;
  height: 55px;
  background-color: #ff7a50;
  opacity: 0.8;
  border: none;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
  svg {
    width: 22px;
    height: 22px;
    fill: white;
    transform: rotate(-90deg);
  }
}


.topBtn:hover {
  background-color: #ec6e48;
  opacity: 1;
  cursor: pointer;
}


@import "partial/menu_burger";
@import "partial/header";
@import "partial/category_section";
@import "partial/good_food_section";
@import "partial/restaurant_section";
@import "partial/mobile_app_section";
@import "partial/client_section";
@import "partial/subscribe_section";
@import "partial/footer";

