<section>
  <div class="container">
    <div class="container__wrapper_category">
      <h1>Our Popular <span>Category</span></h1>
      <div class="category__block">
        <div class="category__card">
          <img
            class="category__card_img"
            src="img/category_section/icon1.png"
            alt="icon"
          />
          <p>Burger</p>
        </div>
        <div class="category__card">
          <img
            class="category__card_img"
            src="img/category_section/icon2.png"
            alt="icon"
          />
          <p>Pizza</p>
        </div>
        <div class="category__card">
          <img
            class="category__card_img"
            src="img/category_section/icon3.png"
            alt="icon"
          />
          <p>Sandwich</p>
        </div>
        <div class="category__card">
          <img
            class="category__card_img"
            src="img/category_section/icon4.png"
            alt="icon"
          />
          <p>Asian Food</p>
        </div>
        <div class="category__card">
          <img
            class="category__card_img"
            src="img/category_section/icon5.png"
            alt="icon"
          />
          <p>Set Menu</p>
        </div>
      </div>

      <div class="category__main swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="category__infoCard swiper-slide">
            <img
              class="category__infoCard_img"
              src="img/category_section/burger1.png"
              alt="icon"
            />
            <div class="category__infocCard_stars">
              <img src="img/category_section/star1.png" alt="icon" />
              <img src="img/category_section/star1.png" alt="icon" />
              <img src="img/category_section/star1.png" alt="icon" />
              <img src="img/category_section/star1.png" alt="icon" />
              <img src="img/category_section/star1.png" alt="icon" />
            </div>
            <p>Cheeseburger With Salad</p>
            <p><span>$18.00</span></p>
            <button class="category__infocCard_btn">Add to Cart</button>
          </div>
          <div class="category__infoCard swiper-slide">
            <img
              class="category__infoCard_img"
              src="img/category_section/burger2.png"
              alt="icon"
            />
            <div class="category__infocCard_stars">
              <img src="img/category_section/star1.png" alt="icon" />
              <img src="img/category_section/star1.png" alt="icon" />
              <img src="img/category_section/star1.png" alt="icon" />
              <img src="img/category_section/star1.png" alt="icon" />
              <img src="img/category_section/star2.png" alt="icon" />
            </div>
            <p>Beef Burger</p>
            <p><span>$15.00</span></p>
            <button class="category__infocCard_btn">Add to Cart</button>
          </div>
          <div class="category__infoCard swiper-slide" >
            <img
              class="category__infoCard_img"
              src="img/category_section/burger3.png"
              alt="icon"
            />
            <div class="category__infocCard_stars">
              <img src="img/category_section/star1.png" alt="icon" />
              <img src="img/category_section/star1.png" alt="icon" />
              <img src="img/category_section/star1.png" alt="icon" />
              <img src="img/category_section/star1.png" alt="icon" />
              <img src="img/category_section/star1.png" alt="icon" />
            </div>
            <p>Royel Cheeseburger</p>
            <p><span>$16.00</span></p>
            <button class="category__infocCard_btn">Add to Cart</button>
          </div>
          <div class="category__infoCard swiper-slide">
            <img
              class="category__infoCard_img"
              src="img/category_section/burger4.png"
              alt="icon"
            />
            <div class="category__infocCard_stars">
              <img src="img/category_section/star1.png" alt="icon" />
              <img src="img/category_section/star1.png" alt="icon" />
              <img src="img/category_section/star1.png" alt="icon" />
              <img src="img/category_section/star1.png" alt="icon" />
              <img src="img/category_section/star1.png" alt="icon" />
            </div>
            <p>Black Gambugrer</p>
            <p><span>$14.00</span></p>
            <button class="category__infocCard_btn">Add to Cart</button>
          </div>
          <div class="category__infoCard swiper-slide">
            <img
              class="category__infoCard_img"
              src="img/category_section/burger5.png"
              alt="icon"
            />
            <div class="category__infocCard_stars">
              <img src="img/category_section/star1.png" alt="icon" />
              <img src="img/category_section/star1.png" alt="icon" />
              <img src="img/category_section/star1.png" alt="icon" />
              <img src="img/category_section/star1.png" alt="icon" />
              <img src="img/category_section/star1.png" alt="icon" />
            </div>
            <p>Chicken Burger</p>
            <p><span>$15.00</span></p>
            <button class="category__infocCard_btn">Add to Cart</button>
          </div>
        </div>
        
      </div>

      <div class="swiper-tools">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
   
  
   
    </div>

  </div>
</section>
