	</main>

	<footer class="footer">
		<div class="container">
			<div class="container__wrapper_footer">
				<div class="footer__block"> 
					<div class=""><img src="img/footer_section/EFood.png" alt="logo"></div><br>
					<div class="footer__block_item"><img src="img/footer_section/Location.png" alt="logo"><p>Dhaka, Bangladesh</p></div>
					<div class="footer__block_item"><img src="img/footer_section/Calling.png" alt="logo"><p>0943833399</p></div>
					<div class="footer__block_item"><img src="img/footer_section/Message.png" alt="logo"><p>support@efood.com</p></div>
					<div class="footer__block_media">
						<img src="img/footer_section/facebook.png" alt="">
						<img src="img/footer_section/twitter.png" alt="">
						<img src="img/footer_section/instagram.png" alt="">
						<img src="img/footer_section/pinterest.png" alt="">
					</div>
				</div>

				<div class="footer__block">
					<p><span>Service</span></p>
					<p>How it works</p>
					<p>Home delivery</p>
					<p>Products</p>
					<p>Menu</p>
				</div>
				<div class="footer__block">
					<p><span>Company</span></p>
					<p>About Us</p>
					<p>News</p>
					<p>Our trusted partner</p>
					<p>New users FAQ</p>
				</div>
				<div class="footer__block">
					<p><span>Supports</span></p>
					<p>Help center</p>
					<p>Feedbcak</p>
					<p>Contact us</p>
					<p>Terms conditins</p>
				</div>
				<div class="footer__block">
					<p><span>Resources</span></p>
					<p>Download app</p>
					<p>Blog</p>
					<p>What’s new</p>
					<p>Sitemap</p>
				</div>
			</div>
			<hr>
			<br>
			<br>
		</div>
	</footer>
</body>

</html>
