<section>
  <div class="container">
    <div class="container__wrapper_good">
      <div class="good__image">
        <img src="img/good_food_section/food delivery.png" alt="food">
      </div>
      <div  class="good__content">
        <h1><span>Stay</span> at home, we will <br> Provide <span>good food</span></h1>
        <p>We provide tasty food and superfast delivery at your home.  Let’s use our services right now and get discounts of up to 50%.</p>
        <div class="good__content_str">
          <img src="img/good_food_section/Timer icon.png" alt="">
          <h2>fasted delivery in 30 Minutes</h2>
        </div>
        <div class="good__content_str">
          <img src="img/good_food_section/Outline.png" alt="">
          <h2>300+ delivery men</h2>
        </div>
        <div class="good__content_str">
          <img src="img/good_food_section/shop 1.png" alt="">
          <h2>500+ restaurant & cafe shop</h2>
        </div>
        <div><button class="good__content_btn">See more</button></div>
      </div>
    </div>
  </div>
</section>