<!DOCTYPE html>
<html lang="en">
  <head>
    <title>@@title</title>

    <meta charset="utf-8" />
    <meta name="author" content="github.com/zakandaiev" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />

    <meta name="description" content="" />
    <meta name="keywords" content="" />


    <link rel="canonical" href="" />

    <link rel="image_src" href="" />


    <link rel="stylesheet" href="css/main.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap" rel="stylesheet" />

    <!-- Swiper JS -->
    <script src="js/swiper-bundle.min.js" defer></script>
    <script src="js/main.js" defer></script>
  </head>

  <body>
    <header class="header">
      <div class="container">
        <nav class="container__wrapper_nav">
          <div class="nav__block">
            <img class="nav__logo" src="img/EFood.svg" alt="logo" />
            <div class="nav__inner">
              <div class="nav__links">
                <a class="nav__link" href="#">Home</a>
                <a class="nav__link" href="#">Service</a>
                <a class="nav__link" href="#">Top cities</a>
                <a class="nav__link" href="#">Contract</a>
              </div>

              <img
                class="search__img"
                src="img/header/Search.png"
                alt="search"
              />
              <div class="buy__block">
                <img class="buy__img" src="img/header/Buy.png" alt="buy" />
                <img
                  class="buy__order"
                  src="img/header/Order.png"
                  alt="order"
                />
              </div>
              <button class="nav__btn">Sign up</button>
      
            </div>

            <div class="burger-menu__open-button" onclick="active()">
              <img src="img/burger-menu-open.svg" alt="burger" />
            </div>
          </div>
        </nav>
      </div>

      <div class="container">
        <div class="container__wrapper_hero">
          <div class="hero__block">
            <h1 class="hero__title">
              Super Fast <span>Food Delivery</span> Service
            </h1>
            <p class="hero__text">
              We provide super fast-delivery service. Let’s use our services
              right now and get discounts of up to 50%
            </p>
            <div class="hero__block_btns">
              <button class="hero__button">Explore Food</button>
              <p class="hero__app">Download App</p>
            </div>
          </div>
          <div class="hero__block_images">
            <div class="hero__card_sm">
              <img
                class="hero__card_sm_customer"
                src="img/header/customer.png"
                alt="customer"
              />
              <p>
                Alex Smith <br />
                <span>Food Deliveryman</span>
              </p>
              <div class="hero__card_sm_phone">
                <img src="img/header/phone.svg" alt="customer" />
              </div>
            </div>
            <div class="hero__card_m">
              <img
                class="hero__card_m_burger"
                src="img/header/burger.png"
                alt="customer"
              />
              <div class="hero__card_m_content">
                <p>Doubble sandwich</p>
                <div>
                  <img src="img/header/star.png" alt="star" />
                  <img src="img/header/star.png" alt="star" />
                  <img src="img/header/star.png" alt="star" />
                  <img src="img/header/star.png" alt="star" />
                  <img src="img/header/star2.png" alt="star" />
                </div>
                <p><span>$7.50</span></p>
              </div>
            </div>
            <div class="hero__send_arrow">
              <img src="img/header/Send shape.png" alt="send" />
            </div>
            <div class="hero__rectangle1">
              <img src="img/header/Time.png" alt="rectangle1" />
            </div>
            <div class="hero__rectangle2">
              <img src="img/header/Time2.png" alt="rectangle2" />
            </div>
            <img
              class="hero__img"
              src="img/header/Scooter_Guy.png"
              alt="scooter guy"
            />
          </div>
        </div>
      </div>
    </header>


  </body>
</html>
