<div class="burger-menu">
  <div class="burger-menu__container">
    <div class="burger-menu__close-button" onclick="active()">
      <img src="img/burger-menu-close.svg" alt="" />
    </div>

    <div class="burger-menu__wrapper">
      <div class="burger-menu__nav-container">
        <a href="#">Home</a>
        <a href="#">Service</a>
        <a href="#">Top cities</a>
        <a href="#">Contract</a>
        <button class="burger-menu__btn">Sign up</button>
      </div>
   
    </div>

  </div>
</div>
