<section>
  <div class="container">
    <div class="container__wrapper_mobileApp">
      
      <div class="mobileApp__block">
        <h1 class="mobileApp__title">
          Download Our <span>Mobile App</span> Service
        </h1>
        <p class="mobileApp__text">
          It's all at your fingertips -- the restaurants you love. Find the
          right food to suit your mood, and make the first bite last. Go ahead,
          download app and get 50% discount
        </p>
        <div class="mobileApp__block_btns">
            <img
              class="mobileApp__img1"
              src="img/mobile_app_section/App.png"
              alt="app"
            />
            <img
              class="mobileApp__img2"
              src="img/mobile_app_section/Andr.png"
              alt="app"
            />
        </div>
      </div>

      <div class="mobileApp__block_image">
        <img
          class="mobileApp__main_img"
          src="img/mobile_app_section/Group 178.png"
          alt="mobileImg"
        />
      </div>

    </div>
  </div>
</section>
