<section>
  <div class="container">
    <div class="container__wrapper_restaurant">
      <h1>Top Food <span>restaurant</span></h1>
      <div class="restaurant__block">
        <div class="restaurant__card">
          <div class="restaurant__card_block">
            <img
              class="restaurant__card_img"
              src="img/restaurant_section/food1.png"
              alt="food"
            />
          </div>
          <h2>Blaze Pizza</h2>
          <div class="restaurant__card_info">
            <img
              class="restaurant__card_icon"
              src="img/restaurant_section/clock.png"
              alt="clock"
            />
            <p>11.00 AM - 10.00 PM</p>
            <button class="restaurant__card_btn">
              <img src="img/restaurant_section/arrow.png" alt="arrow" />
            </button>
          </div>
        </div>
        <div class="restaurant__card">
          <div class="restaurant__card_block">
            <img
              class="restaurant__card_img"
              src="img/restaurant_section/food2.png"
              alt="food"
            />
          </div>

          <h2>Pizza Ranch</h2>
          <div class="restaurant__card_info">
            <img
              class="restaurant__card_icon"
              src="img/restaurant_section/clock.png"
              alt="clock"
            />
            <p>09.00 AM - 10.00 PM</p>
            <button class="restaurant__card_btn">
              <img src="img/restaurant_section/arrow.png" alt="arrow" />
            </button>
          </div>
        </div>
        <div class="restaurant__card">
          <div class="restaurant__card_block">
            <img
              class="restaurant__card_img"
              src="img/restaurant_section/food3.png"
              alt="food"
            />
          </div>
          <h2>Dion’s Pizza Hut</h2>
          <div class="restaurant__card_info">
            <img
              class="restaurant__card_icon"
              src="img/restaurant_section/clock.png"
              alt="clock"
            />
            <p>10.00 AM - 12.00 PM</p>
            <button class="restaurant__card_btn">
              <img src="img/restaurant_section/arrow.png" alt="arrow" />
            </button>
          </div>
        </div>
        <div class="restaurant__card">
          <div class="restaurant__card_block">
            <img
              class="restaurant__card_img"
              src="img/restaurant_section/food4.png"
              alt="food"
            />
          </div>
          <h2>Royel Burger</h2>
          <div class="restaurant__card_info">
            <img
              class="restaurant__card_icon"
              src="img/restaurant_section/clock.png"
              alt="clock"
            />
            <p>11.00 AM - 10.00 PM</p>
            <button class="restaurant__card_btn">
              <img src="img/restaurant_section/arrow.png" alt="arrow" />
            </button>
          </div>
        </div>
        <div class="restaurant__card">
          <div class="restaurant__card_block">
            <img
              class="restaurant__card_img"
              src="img/restaurant_section/food5.png"
              alt="food"
            />
          </div>
          <h2>KFC Restaurant</h2>
          <div class="restaurant__card_info">
            <img
              class="restaurant__card_icon"
              src="img/restaurant_section/clock.png"
              alt="clock"
            />
            <p>09.00 AM - 10.00 PM</p>
            <button class="restaurant__card_btn">
              <img src="img/restaurant_section/arrow.png" alt="arrow" />
            </button>
          </div>
        </div>
        <div class="restaurant__card">
          <div class="restaurant__card_block">
            <img
              class="restaurant__card_img"
              src="img/restaurant_section/food6.png"
              alt="food"
            />
          </div>
          <h2>Star Food</h2>
          <div class="restaurant__card_info">
            <img
              class="restaurant__card_icon"
              src="img/restaurant_section/clock.png"
              alt="clock"
            />
            <p>10.00 AM - 12.00 PM</p>
            <button class="restaurant__card_btn">
              <img src="img/restaurant_section/arrow.png" alt="arrow" />
            </button>
          </div>
        </div>
   
      </div>
    </div>
  </div>
</section>
