<section>
  <div class="container">
    <div class="container__wrapper_subscribe">
      <div class="subscribe__block">
        <h1>Subscribe to get the Latest Offer</h1>
        <p>Get our daily updates by subscribing to our newspaper, please drop your email below</p>
        <form class="subscribe__input">
          <input type="email" placeholder="Enter your email" required>
          <button type="submit" class="subscribe__button">
            <img src='img/subscribe_section/arrow.png' alt="arrow">
            <span>Subscribe</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>